aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aioice==0.10.1
aioquic==1.2.0
aiortc==1.13.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
av==14.4.0
certifi==2025.4.26
cffi==1.17.1
click==8.2.1
cryptography==45.0.3
dnspython==2.7.0
exceptiongroup==1.3.0
fastapi==0.115.12
frozenlist==1.6.0
google-crc32c==1.7.1
h11==0.16.0
h2==4.2.0
hpack==4.1.0
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
ifaddr==0.2.0
iniconfig==2.1.0
multidict==6.4.4
numpy==2.2.6
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
pluggy==1.6.0
priority==2.0.0
propcache==0.3.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pyee==13.0.0
pylibsrtp==0.12.0
pylsqpack==0.3.22
pyOpenSSL==25.1.0
pytest==8.3.5
service-identity==24.2.0
sniffio==1.3.1
starlette==0.46.2
taskgroup==0.2.2
tomli==2.2.1
typing-inspection==0.4.1
typing_extensions==4.13.2
uvicorn==0.34.2
wsproto==1.2.0
yarl==1.20.0
